{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
    {# <div class="container"> #}

        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="bg-light py-3 px-3">
                    <h1>Forgot Password</h1>
                    {% if error is defined %}
                        <div class="alert alert-danger">Nom d'utilisatur inconnu</div> 
                    {% endif %}

                    {{ form_start(form) }}
                    {{ form_row(form.username) }}
                    <button type="submit" class="btn btn-success">Ask for reset password</button>
                    {{ form_end(form) }}
                    
                </div>
            </div>
        </div>

    {# </div> #}
{% endblock %}
