{# Load more tricks #}
{% block load %}

    <div class="col-lg-4">
        <div class="card mb-3"> 
            <h3 class="card-header">TestName</h3>
            <img style="height: 200px; width: 100%; display: block;" src="http://www;placehold.it/150x100" alt="Card image">
        </div>
        <br>
        {# Buttons #}
        <a href="#">
            <button type="button" class="btn btn-secondary">Lire</button>
        </a>                                 
        <a href="#">
            <button type="button" class="btn btn-warning">Modifier</button> 
        </a>                                                          
        <a href="#">
            <button type="button" class="btn btn-danger">Effacer</button>
        </a>                   
        <hr>
    </div>

{% endblock %}