<h3>Welcome !</h3>

Hello {{ user.username }}! You've got registred on the site !<br><br>

Please confirm account by clicking this 
<a href={{ url('security_confirm', {'token': user.confirmationToken}) }}>link</a>