<h3>Reset Password</h3>

Hello {{ user.username }}. Your request to reset your password has been taken into account.<br><br>

Please confirm and set a new password by clicking this 
<a href={{ url('security_reset_password', {'token': user.resetToken}) }}>link</a>